@import url(./reset.css);
@import url(./variaveis.css);
@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@400;700&display=swap');
/* .attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); } */

body{
    height: 100vh;
    background-color: var(--azul__escuro2);
    font-family: var(--fonte);
    display: flex;
    justify-content: center;
    align-items: center;
}

.conteudo{
    background: rgb(18,20,23);
    background: radial-gradient(circle, rgba(18,20,23,1) 23%, rgba(37,45,55,1) 93%);
    background-color: antiquewhite;
    position: relative;
    width: 400px;
    border-radius: 30px;
}

.box-1, .box-2{
    padding: 30px;
    padding-top: 40px;
    display: none;
}
.box-2.ativado, .box-1.ativado{
    display: block;
}

/* Estilização BOX 1 */
.box-1 .box__img{
    background-color: var(--azul__escuro3);
    background-image: url(../images/icon-star.svg);
    background-position: center;
    background-repeat: no-repeat;
    padding: 10px 21px;
    border-radius: 25px;
}

.titulo{
    margin-top: 50px;
    font-size: 1.7em;
    color: var(--branco);
    font-weight: 700;
}
.texto{
    color: var(--cinza__medio);
    margin: 20px 0;
}


.box__radios{
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 30px;
    margin-bottom: 15px;
}
.box__radios::after{
    content: "";
    clear: both;
}
/* Estudando um pouco como funciona o radio e sua customização */
.radio{
    height: 50px;
    width: 80px;
    position: relative;
}
.radio + .radio{
    margin-left: 10px;
}
.radio label{
    background: #2b3138 no-repeat center center;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 30px;
    transition: 0.3s ease-out;
}
.radio label:hover{
    background-color: var(--cinza__claro);
    border-radius: 30px;
}
.radio label:hover span{
    color: var(--branco);
}
.radio label span{
    z-index: 1;
    color: var(--cinza__medio);
}
.radio label input[type=radio]{
    /* Herdar estilos do label */
    all: unset;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    border-radius: 30px;
}
.radio label input[type=radio]:checked{
    background-color: var(--laranja);
    transition: 0.5s ease-out;
}
.radio label input[type=radio]:checked + span{
    color: white;
}

.enviar{
    background-color: var(--laranja);
    border: none;
    width: 100%;
    color: var(--branco);
    padding: 13px;
    font-family: var(--fonte);
    margin-top: 20px;
    cursor: pointer;
    border-radius: 25px;
    transition: 0.3s ease-out;
    letter-spacing: 3px;
}
.enviar:hover{
    background-color: var(--branco);
    color: var(--laranja);
}


/* Estilização BOX2 */
.box-2.ativado{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.box-2.ativado img{
    width: 150px;
}
.box-2.ativado .informar__selecao{
    margin: 20px 0;
    color: var(--laranja);
    background-color: var(--azul__escuro1);
    padding: 10px 15px;
    border-radius: 25px;
}
.box-2.ativado .titulo{
    margin: 15px 0;
}
.box-2.ativado .texto{
    text-align: center;
    margin: 0;
    line-height: 25px;
}