:root{
    --branco: hsl(0, 0%, 100%);
    --verde__claro: hsl(217, 12%, 63%);
    --cinza__medio: hsl(216, 12%, 54%);
    --azul__escuro1: hsl(213, 19%, 18%);
    --azul__escuro2: hsl(216, 12%, 8%);
    --laranja: hsl(25, 97%, 53%);
    --fonte: 'Overpass', sans-serif;
    --tamanho__fonte: 15px;
    --Mobile: 375px;
    --Desktop: 1440px;
}